
@{
    ViewData["Title"] = "CreateExtra";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MVC.Models;
@model ExtraVM

<h1 class="bg-info text-white">Yeni Extra Oluşturma</h1>
@if (TempData["result"] != null)
{
        <script>
            alert("İşlem başarılı");
        </script>
}
@if (TempData["resultError"] != null)
{
        <script>
            alert("İşlem başarısız");
        </script>
}
<a asp-action="GetExtra" asp-controller="Admin" class="btn btn-secondary">Extra Listesi</a>
<div asp-validation-summary="All" class="text-danger"></div>

@*<form asp-action="CreateExtra" asp-controller="Admin" method="post">*@
    @using (Html.BeginForm("CreateExtra", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="ExtraDb.Name"></label>
        <input asp-for="ExtraDb.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ExtraDb.ExtraCategory.Name" class="control-label"></label>
        <select asp-for="ExtraDb.ExtraCategoryId" class="form-select">
            <option>Kategori Seçiniz</option>
            @foreach (var item in Model.ExtraCategoryForDropDown)
            {
                    <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ExtraDb.Price"></label>
        <input asp-for="ExtraDb.Price" class="form-control" />
    </div>
     <div class="form-group">
    <label asp-for="ExtraDb.Description"></label>
        <input asp-for="ExtraDb.Description" class="form-control" />
    </div>

    <div class="form-group form-check">
        <label asp-for="ExtraDb.State" class="form-check-label">
            <input class="form-check-input" asp-for="ExtraDb.State" /> Aktiflik Durumu
        </label>
    </div>
    <div class="form-group">
        <label asp-for="ExtraDb.Image" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input type="file" name="imageFile" />
            <span asp-validation-for="ExtraDb.Image" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    }
@*</form>*@

