<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Sakura Burger</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/fruitkha-1.0.0/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/fruitkha-1.0.0/assets/css/responsive.css">

</head>
<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    @Html.Partial("_Header")

    <!-- hero area -->
    <div class="hero-area hero-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Bahar Tadında Hamburger</p>
                            <h1>Sakura Burger</h1>
                            <div class="hero-btns">
                                <a asp-action="GetMenus" asp-controller="Menus" class="boxed-btn">Menüler</a>
                                <a asp-action="GetContact" asp-controller="Contact" class="bordered-btn">İletişim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->
    
    @RenderBody()
   
    @Html.Partial("_Footer")

    <!-- jquery -->
    <script src="~/fruitkha-1.0.0/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/fruitkha-1.0.0/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/fruitkha-1.0.0/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/fruitkha-1.0.0/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/fruitkha-1.0.0/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/fruitkha-1.0.0/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/fruitkha-1.0.0/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/fruitkha-1.0.0/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/fruitkha-1.0.0/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/fruitkha-1.0.0/assets/js/main.js"></script>

</body>
</html>