@model ResetPasswordModel
@{
    ViewData["Title"] = "Şifre Güncelleme";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@if(TempData["Success"]!=null)
{
    <script>
        alert(@TempData["Success"]);
    </script>
}
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100" style="background-color:#F0F0F0">
            <div class="container">
                <div class="row">
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../material-dashboard-2/assets/img/hamburger-reset.jpg'); background-size: cover;">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h4 class="font-weight-bolder">Şifre Güncelleme</h4>
                                <p>Lütfen yeni şifrenizi giriniz.</p>
                            </div>
                            <div class="card-body">
                                <form asp-action="UpdatePassword" role="form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label asp-for="NewPassword" class="form-label">Yeni Şifrenizi Giriniz.</label>
                                        <input asp-for="NewPassword" type="password" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg bg-gradient-warning btn-lg w-100 mt-4 mb-0">Şifreyi Kaydet</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
